PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(80) NOT NULL UNIQUE,
    email VARCHAR(120) NOT NULL UNIQUE,
    hashed_password VARCHAR(120) NOT NULL
);
INSERT INTO users VALUES(1,'teste','teste@teste.com','pbkdf2:sha256:600000$66wM2Jr528b0tqVO$95196d21da315c1a5efe8da30b9b3b12a7d48175b593af373109dc85583f7a39');
CREATE TABLE activities (
    id INTEGER PRIMARY KEY,
    user_id INTEGER NOT NULL,
    age INTEGER NOT NULL,
    gender VARCHAR(10) NOT NULL,
    weight FLOAT NOT NULL,
    height FLOAT NOT NULL,
    activity_type VARCHAR(50) NOT NULL,
    duration INTEGER NOT NULL,
    intensity VARCHAR(10) NOT NULL,
    resting_heart_rate INTEGER NOT NULL,
    exercise_heart_rate INTEGER NOT NULL,
    body_fat_percentage FLOAT NOT NULL,
    muscle_mass FLOAT NOT NULL,
    water_intake FLOAT NOT NULL,
    registered_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users (id)
);
INSERT INTO activities VALUES(1,1,30,'male',120.0,168.0,'cycling',40,'moderate',80,120,25.0,12.0,1.3999999999999999111,'2023-08-02 18:01:07');
INSERT INTO activities VALUES(2,1,30,'male',53.0,168.0,'swimming',30,'low',80,120,15.0,25.0,2.2999999999999998223,'2023-08-02 18:08:44');
INSERT INTO activities VALUES(3,1,30,'male',65.0,180.0,'running',45,'moderate',70,120,15.0,70.0,1.0,'2023-07-24 12:34:56');
CREATE TABLE contacts (
    id INTEGER PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL,
    subject VARCHAR(200) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    message TEXT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO contacts VALUES(1,'Teste','teste@teste.com','Questions','11111','Absd','2023-08-02 17:52:24');
CREATE TABLE workouts (
    id INTEGER PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    description TEXT NOT NULL,
    image_path VARCHAR(100) NOT NULL,
    category VARCHAR(50) NOT NULL
);
INSERT INTO workouts VALUES(1,'Upper Body - Gym','Exercises to work the upper body','images/workouts/upper-body.jpg','upper body');
INSERT INTO workouts VALUES(2,'Lower Body - Gym','Exercises to work the lower body','images/workouts/lower-body.jpg','lower body');
INSERT INTO workouts VALUES(3,'Stretching at Home','Exercises to stretch your body at home (no equipment)','images/workouts/stretch.jpg','stretch');
CREATE TABLE articles (
    id INTEGER PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    content TEXT NOT NULL,
    category VARCHAR(50) NOT NULL,
	image_path VARCHAR(100) NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',1);
CREATE INDEX idx_users_username ON users (username);
CREATE INDEX idx_users_email ON users (email);
CREATE INDEX idx_user_id ON activities (user_id);
CREATE INDEX idx_workouts_category ON workouts (category);
CREATE INDEX idx_articles_category ON articles (category);
COMMIT;
